
.nav-item, .media-links {
    list-style: none;
}


h1 {
    text-decoration-line: underline;
    text-align: center;  
}


i {
    font-size: 2rem;  
}

.review, .media-links {
    text-align: center;
}

.review {
    text-transform: uppercase;
    text-shadow: 1px 1px gray;
}

.merchandise {
    padding-left: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

p sup {
    font-size: 1rem;
    color: green;
}

sub>i {
    font-size: 3rem;
    color: indigo;
}


